<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electronics Page</title>
</head>
<body>
<h1>Electronics</h1>
<ul>
    {% for item in items %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
<div>
    {% if items.has_other_pages %}
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}">&laquo;</a>
        {% else %}
            <span>&laquo;</span>
        {% endif %}

        {% for i in items.paginator.page_range %}
            {% if items.number == i %}
                <span style="color: red;">{{ i }} (current)</span>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">&raquo;</a>
        {% else %}
            <span>&raquo;</span>
        {% endif %}


    {% endif %}

</div>

<div>
    {% if is_paginated %}
        {% if page_obj.has_previous  %}
             <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next  %}

            <a href="?page={{ page_obj.next_page_number }}">Next</a>


        {% endif %}


    {% endif %}



</div>

</body>
</html>